.productCardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  
    .productCard:hover {
      transform: scale(1.1);
    }
  
    .productCard {
      width: 300px;
      height: 300px;
      box-shadow: 10px 10px 10px lightblue;
      margin: 15px auto;
      transition: 0.3s;
  
      .productCard__heading {
        color: $secondary-color;
        font-family: $nunito;
        margin: 0 auto;
        font-size: 20px;
      }
  
      .productCard__brand {
        color: $secondary-color;
        font-family: $nunito;
        margin: 0 auto;
        font-size: 15px;
      }
  
      .productCard__description {
        font-family: $nunito;
        margin: 0 auto;
        font-size: 10px;
      }
  
      .productCard__price {
        font-family: $nunito;
        margin: 0 auto;
        font-size: 15px;
      }
  
      .productCard__img {
        width: 200px;
        height: 187.875px;
      }
    }
  }
  