.products__Heading {
  color: $secondary-color;
  font-family: $amatic_sc;
  font-size: 50px;
  margin: 0 auto;
}

.filter {
  .filter__label {
    color: $secondary-color;
    font-family: $nunito;
    font-size: 20px;
    margin: auto 5px auto 10px;
  }

  .filter__select {
    width: 200px;
    font-family: $nunito;
    background-color: $primary-color;
    color: $secondary-color;
    height: 25px;
  }

  .filter__submit {
    margin: 10px;
    background-color: $secondary-color;
    color: $primary-color;
    width: 50px;
    height: 25px;
    border-radius: 5px;
    font-size: 15px;
    font-family: $nunito;
  }
}