$primary-color: #fff;
$secondary-color: #0377e4;
$nunito: "Nunito", sans-serif;
$amatic_sc: "Amatic SC", cursive;

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

//APP
@import "partials/_header";
@import "partials/_footer";

//HOME
@import "partials/_slider";
@import "partials/_home";

//PRODUCTS
@import "partials/_products";
@import "partials/_productCard";

//CONTACT
@import "partials/_contact";

//ADMIN

@import "partials/_admin";
@import "partials/adminCard";
@import "partials/_contactCard";

