@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
.header {
  background-color: #fff;
  width: 100%;
  height: 10%;
  margin-bottom: 20px;
}
.header .header__heading {
  width: 100%;
  text-align: center;
  margin: auto auto 20px auto;
  color: #0377e4;
  font-family: "Amatic SC", cursive;
  font-size: 50px;
}
.header .header__ul {
  width: 100%;
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  margin: 0;
}
.header .header__ul a {
  text-decoration: none;
  color: #0377e4;
  font-size: 25px;
  font-family: "Nunito", sans-serif;
  padding: 5px;
}
.header .loginButton {
  background-color: #0377e4;
  color: #fff;
  font-family: "Nunito", sans-serif;
  font-size: 10px;
  padding: 10px;
}

.footer {
  width: 100%;
  background-color: #0377e4;
  margin: 10px auto auto auto;
}
.footer .footer__nav {
  margin: 0;
  display: flex;
  width: 100%;
}
.footer .footer__nav .nav__ul--pages {
  width: 50%;
  list-style: none;
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  align-items: center;
}
.footer .footer__nav .nav__ul--pages .ul__link {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}
.footer .footer__nav .nav__ul--social {
  width: 50%;
  list-style: none;
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: left;
}
.footer .footer__nav .nav__ul--social img {
  width: 40px;
}

.slider__Img {
  width: 100%;
  height: 300px;
}

.homeAboutParagraphContainer {
  margin: 10px auto;
  padding: 5px;
  color: #0377e4;
  display: flex;
  flex-flow: column;
  max-width: 50%;
  text-align: center;
}
.homeAboutParagraphContainer .homeAboutParagraphContainer__heading {
  align-self: center;
  margin: 10px 0;
  font-family: "Amatic SC", cursive;
  font-size: 40px;
}
.homeAboutParagraphContainer .homeAboutParagraphContainer__paragraph {
  margin: 5px;
}

.products__Heading {
  color: #0377e4;
  font-family: "Amatic SC", cursive;
  font-size: 50px;
  margin: 0 auto;
}

.filter .filter__label {
  color: #0377e4;
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  margin: auto 5px auto 10px;
}
.filter .filter__select {
  width: 200px;
  font-family: "Nunito", sans-serif;
  background-color: #fff;
  color: #0377e4;
  height: 25px;
}
.filter .filter__submit {
  margin: 10px;
  background-color: #0377e4;
  color: #fff;
  width: 50px;
  height: 25px;
  border-radius: 5px;
  font-size: 15px;
  font-family: "Nunito", sans-serif;
}

.productCardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.productCardContainer .productCard:hover {
  transform: scale(1.1);
}
.productCardContainer .productCard {
  width: 300px;
  height: 300px;
  box-shadow: 10px 10px 10px lightblue;
  margin: 15px auto;
  transition: 0.3s;
}
.productCardContainer .productCard .productCard__heading {
  color: #0377e4;
  font-family: "Nunito", sans-serif;
  margin: 0 auto;
  font-size: 20px;
}
.productCardContainer .productCard .productCard__brand {
  color: #0377e4;
  font-family: "Nunito", sans-serif;
  margin: 0 auto;
  font-size: 15px;
}
.productCardContainer .productCard .productCard__description {
  font-family: "Nunito", sans-serif;
  margin: 0 auto;
  font-size: 10px;
}
.productCardContainer .productCard .productCard__price {
  font-family: "Nunito", sans-serif;
  margin: 0 auto;
  font-size: 15px;
}
.productCardContainer .productCard .productCard__img {
  width: 200px;
  height: 187.875px;
}

.formContainer {
  width: 100vw;
  height: 72vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/img/backgroundImg.jpg");
  background-position: center;
  background-repeat: no-repeat;
}
.formContainer .contactForm {
  display: flex;
  width: 20%;
  height: 80%;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  background: rgba(255, 255, 255, 0.9);
}
.formContainer .contactForm .contactForm__heading {
  color: #0377e4;
  font-family: "Nunito", sans-serif;
}
.formContainer .contactForm label {
  display: block;
  color: #0377e4;
  font-family: "Nunito", sans-serif;
}
.formContainer .contactForm input {
  width: 150px;
  height: 20px;
  border: 2px #0377e4 solid;
  border-radius: 5%;
  color: #0377e4;
}
.formContainer .contactForm textarea {
  width: 150px;
  border: 2px #0377e4 solid;
}
.formContainer .contactForm .submit {
  background-color: #0377e4;
  color: #fff;
}

.admin .admin__Heading {
  margin: 0 auto;
  font-family: "Nunito", sans-serif;
  text-align: center;
  font-size: 30px;
}
.admin h3 {
  margin-left: 160.797px;
  font-family: "Nunito", sans-serif;
  font-size: 20px;
}

.addItemFormContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 20px auto;
}
.addItemFormContainer .addItemForm {
  font-family: "Nunito", sans-serif;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #0377e4;
  padding: 50px;
}
.addItemFormContainer .addItemForm input {
  display: block;
  margin: 5px auto;
}
.addItemFormContainer .addItemForm label {
  margin: 5px auto;
  display: block;
}

.admin__contactHeading {
  margin: 10px auto 10px 160.797px;
  font-family: "Nunito", sans-serif;
}

.adminCard {
  width: 1200px;
  height: auto;
  margin: 15px auto;
  display: flex;
  flex-wrap: wrap;
  flex-flow: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px;
  border: #0377e4 1px solid;
  color: #0377e4;
  font-family: "Nunito", sans-serif;
}
.adminCard p {
  width: 133px;
}
.adminCard .adminCard__button {
  background-color: #0377e4;
  color: #fff;
  font-family: "Nunito", sans-serif;
  font-size: 10px;
  padding: 10px;
  margin: 0 auto;
  width: 100px;
}

.editForm {
  display: flex;
  flex-wrap: wrap;
  flex-flow: row;
  justify-content: space-evenly;
  align-items: center;
  border: #0377e4 solid 1px;
  width: 1200px;
  height: auto;
  margin: 15px auto;
  padding: 5px;
}
.editForm input,
.editForm label {
  width: 120px;
}

.contactCard {
  width: 1200px;
  height: auto;
  margin: 15px auto;
  display: flex;
  flex-wrap: wrap;
  flex-flow: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px;
  border: #0377e4 1px solid;
  color: #0377e4;
  font-family: "Nunito", sans-serif;
}
.contactCard p {
  width: 133px;
}

/*# sourceMappingURL=App.css.map */
